
<div class="home-container">

  <div class="home-title-container" >
    <h1 class="home-text-primary"> Welcome to the angular exercise (home page) </h1>
    <h2 class="home-text-scondary"> This is a practice exercise only </h2>
  </div>

  <div class="home-info">
    <p>This exercise looks for several things:</p>

    <ul>
      <li>Presents advance routing capabilities</li>
      <li>Present use of SCSS</li>
      <li>Presents new layout and organization</li>
      <li>Presents Deborah Kurata's basic example</li>
      <li>Present the use of angular.material</li>
    </ul>
  </div>

</div>





