<div class="container">

  <div fxFlex fxLayout="column"
       fxLayoutAlign="center center"
       fxLayoutGap="0px">

    <div class="child-1">
      <div class="home-title-container">
        <h1> Welcome to the angular exercise</h1>
        <h2> This is a practice exercise only </h2>
      </div>
    </div>

    <div class="child-2">
      <div class="home-info">
        <p>This exercise looks for several things:</p>
        <ul>
          <li>Presents Deborah Kurata's basic example.</li>
          <li>Present use of SCSS for style.</li>
          <li>Presents advance routing capabilities.</li>
          <li>Present the use of angular.material.</li>
          <li>Presents new layout and organization.</li>
        </ul>
      </div>
    </div>

    <!-- <div class="child-3">
      block-3
    </div> -->

  </div>

</div>
