$home-font-family: Arial, 'Helvetica, sans-serif';

@mixin home-container-common (){
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

@mixin home-font-family($fontSize: 2.0rem){
  font-family: $home-font-family;
  font:bolder;
  font-size:$fontSize;
}

.home-container {
  @include home-container-common();
}

.home-title-container {
  @include home-container-common();
  width: 70%;
}

.home-text-primary {
   @include home-font-family;
   color:blue;
   margin: 2rem 0rem 0rem 0rem;
}

.home-text-scondary {
  @include home-font-family;
  color:gray;
  margin: 1rem 0rem 0rem 0rem;
}

.home-info  {
  @include home-font-family($fontSize: 1.2rem);
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


